<?xml version="1.0" encoding="utf-8"?>
<themeInfo version="1.0">
    <name>Shoutbox</name>
    <description>Shoutbox lets registered users talk to one another.</description>
    <version>1.0.0</version>
    <type>Content</type>
    <author>Djordje Jocic</author>
    <contact>office@frequency-cms.com</contact>
    <website>http://www.frequency-cms.com/</website>
</themeInfo>