<?xml version="1.0" encoding="utf-8"?>
<themeInfo version="1.0">
    <name>Latest Pages</name>
    <description>This module provides a list of your five latest pages.</description>
    <version>1.0.0</version>
    <type>Standalone</type>
    <author>Đorđe Jocić (Djordje Jocic)</author>
    <contact>office@frequency-cms.com</contact>
    <website>http://www.frequency-cms.com/</website>
</themeInfo>